.move-preview {
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding: 5px;
  height: 130px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid $main;
  border-radius: 5px;
  flex-wrap: wrap;
  p {
    font-size: rem(12px);
  }
  .from {
    width: 35%;
  }
  .to {
    width: 35%;
  }
  strong {
      font-size:45px;
  }
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid $main;
    background-color: rgb(49, 49, 49);
  }
  .footer {
    gap: 10px;
    text-align: center;
    align-self: center;
    justify-content:space-between;
    justify-self: center;
    padding:0 20px;
    width: 100%;
    border:1px solid rgba(255, 0, 0, 0.288);
    border-radius: 5px;
    p {
      margin: 0;
      font-size:rem(10px);
    }
  }
}
