* {
    box-sizing: border-box;
}

::selection {
    // background-color: $clr1;
    // color: $clr6;
}

html {
    line-height: 1.6;
}

body {
    margin: 0;
    padding:0;
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
    font-weight: 400;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
input {
  margin: 0;
  padding: 0;
}
ul { list-style-type: none;}
section, main, footer {
}

img {
    width: 100%;
}


a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button { 
    height:30px;
    background-color: $main;
    border:0;
    padding:0 10px;
    border-radius: 3px;
    text-transform: capitalize;
}

.fade-in{animation:fade-in .3s cubic-bezier(.39,.575,.565,1.000) both}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}